@import 'tailwindcss';

:root {
  --font-base: -apple-system, 'Noto Sans KR', 'Noto Sans', system-ui, sans-serif;
}

/* 브라우저에게 라이트/다크 둘 다 쓸 수 있다고 힌트 */
html {
  font-family: var(--font-base);
  color-scheme: light dark;
}

/* 다크 모드에서의 기본 배경/글자색 (레이아웃용) */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
